
.Card { 
    width: fit-content;
    min-width: 220px; 
    height: 405px;
    border: solid 2px $lightGrey; 
    border-radius: 30px;  
    transition: transform 0.3s ease;
}  
.Card:hover {
    transform: scale(1.01);  
    cursor: pointer;
} 

.book_nav{  
    width: fit-content; 
    gap: 40px; 
    border: solid 2px $lightGrey;  
    margin-left: auto; 
    margin-right: auto;
    border-radius: 30px;
} 
.book_nav>button{
    margin-left: 0;
    border: none;
} 
.book_nav>button:hover{
    border: solid 2px $lightGrey;
} 
